<div class="ui blue inverted massive fixed menu">
  <a href="/" class="header item">
    <img class="logo" src="/assets/img/logo.png">
  </a>
  <div class="right menu">
      <a class="item" href="/"><i class="chevron left icon"></i></a>
  </div>
</div>
