{{> header}}
<style>
  .ui.center.aligned.header {
    padding-top: 100px;
  }
</style>
<h1 class="ui center aligned header">Opšti uslovi korištenja sajta</h1>
<div class="ui text container">
  <p>
    Posetom sajta PaleMap prihvatate uslove korišćenja navedene u daljem tekstu.
    Molimo Vas da ih pažljivo pročitate i upoznate se pravilima istih, jer bilo kakvo korišćenje ove internet stranice podrazumeva Vaše prihvatanje uslova i pravila korišćenja navedenih u ovom dokumentu.
    Innovic d.o.o. zadržava pravo da izvrši delimične ili potpune promene web sajta ili opštih uslova upotrebe, bez prethodne najave.
    Stoga, molimo Vas da sledeći put kada posetite naš sajt, ponovo proverite uslove kako biste bili upoznati sa eventualnim promenama do kojih je došlo.
  </p>
  <h4 class="ui header">Prava intelektualne svojine i korišćenje sajta</h4>
  <p>Svi detalji, dokumenta, ilustracije i žigovi koji su objavljeni na ovom sajtu su u vlasništvu Innovic d.o.o.
    Ništa sadržano na ovoj web stranici se ne može tumačiti kao dozvola za korišćenje bilo kog žiga koji je prikazan na ovom internet sajtu.
  </p>
  <p>
    Korišćenje sajta podrazumeva pretraživanje sajta, štampanje sadržaja web stranice ili čuvanje u elektronskom obliku i pristup i korišćenje sadržaja koji se nalaze na sajtu, pod uslovom da sva autorska prava i zaštitni žig Innovic d.o.o. budu sačuvani.
    Korišćenje bilo kojeg dela ove web stranice u komercijalne svrhe ili njegovo uklapanje u bilo koju drugu publikaciju ili web stranicu je strogo zabranjeno.
  </p>
  <h4 class="ui header">Garancije</h4>
  <p>
    Innovic d.o.o je prikazala detaljne informacije koje se nalaze na ovom web sajtu koristeći interne i eksterne izvore, po svom najboljem saznanju i uverenju, i neprestano nastoji da proširi i ažurira te informacije.
    Informacije na ovom web sajtu namenjene su isključivo predstavljanju Innovic d.o.oi njenih usluga.
    Innovic d.o.o ne daje garanciju kompletnosti, pouzdanosti, blagovremenosti ili tačnosti informacija na ovom web sajtu, bilo izričito ili prećutno.
    Innovic d.o.o. nema obavezu održavanja materijala i usluga dostupnih na ovoj web stranici, niti dostavljanja povezanih ispravki ili dopuna, te Vas stoga molimo da imate na umu da ove informacije, iako tačne na dan kada su objavljene, mogu biti zastarele.
    Stoga Vam preporučujemo da proverite svaku informaciju koju pročitate na ovom web sajtu pre nego što je upotrebite u bilo kom obliku.
    Ukoliko su Vam potrebni bilo kakvi saveti ili instrukcije u vezi sa našim uslugama, molimo Vas da nam se direktno obratite.
  </p>
  <h4 class="ui header">Ograničena odgovornost</h4>
  <p>
    Pristupanjem ovom sajtu, korisnici ovog web sajta izjavljuju da su saglasni s činjenicom da koriste pristup ovom web sajtu i njegovom sadržaju na sopstveni rizik.
    Ni Innovic d.o.o niti treće strane koje učestvuju u pisanju, produkciji ili prenošenju ovog web sajta ne mogu biti odgovorni za bilo kakvu direktnu, slučajnu, posledičnu, indirektnu ili bilo kakvu drugu štetu, troškove, gubitke ili povrede koje nastanu kao rezultat pristupa ili nemogućnosti pristupa ovom web sajtu, te korišćenja ili
    nemogućnosti korišćenja ovog web sajta, ili kao rezultat činjenice da ste se oslonili na informacije date na ovom web sajtu.
  </p>
  <p>
    Takođe, Innovic d.o.o. ne prihvata odgovornost za bilo koji gubitak prouzrokovan virusima koji mogu zaraziti Vaš računar ili bilo koju drugu imovinu kroz upotrebu, pristup ili preuzimanje bilo kog materijala sa ove web stranice.
    Ukoliko odlučite da preuzimate materijal sa ove web stranice, činite to na sopstvenu odgovornost.
  </p>
  <p>
    Prenošenjem ili prijemom informacija sa ovog sajta ne zasniva se poslovni odnos odnos između Vas i Innovic d.o.o te niko od koristika ovog sajta ne treba da postupa, niti da se uzdrži od postupanja, na osnovu bilo koje informacije na ovom sajtu.
    Slanje poruka putem elektronske pošte ni u kom smislu ne obavezuje Innovic d.o.o na zasnivanje poslovnog odnosa sa bilo kojim korisnikom ovog sajta.
  </p>
  <h4 class="ui header">Web sajtovi trećih lica</h4>
  <p>
    Ovaj web sajt sadrži linkove/reference za web sajtove trećih lica. Obezbeđujući takve linkove, Innovic d.o.o ne daje svoju saglasnost u pogledu sadržaja tih web sajtova.
    Innovic d.o.o ne prihvata nikakvu odgovornost za dostupnost ili sadržaj tih web sajtova, niti odgovornost za štetu ili povredu koje nastanu kao rezultat korišćenja njihovog sadržaja, u bilo kom obliku.
    Innovic d.o.o ne daje nikakvu garanciju da stranice za koje postoje linkovi pružaju informacije bilo kojeg kvaliteta.
    Korisnici pristupaju takvim web sajtovima na vlastiti rizik.
  </p>
  <h4 class="ui header">Odgovornost korisnika</h4>
  <p>
    Korisnik ovog web sajta je u potpunosti odgovoran za sadržaj i tačnost informacija koje šalje Milšped Grupi kao i za nekršenje prava bilo koje treće strane na koju se eventualno odnose te informacije.
    Korisnik daje svoj pristanak Innovic d.o.o da objavi takve informacije, kao i da iste koristi u svrhu statističke analize ili za bilo koje druge poslovne svrhe, uključujući ali ne ograničavajući se na reprodukciju, razvoj, reklamiranje, prodaju i marketing, bez ikakvog ograničenja i bez ikakve naknade korisniku.
  </p>
  <p>
    Dostavljanjem informacija korisnik daje garanciju da poseduje vlasnička prava nad poslatim informacijama i materijalom, i da ima pravo, odnosno pristanak za postavljanje privatnih informacija, odnosno materijala, te da korišćenje istih od strane Innovic d.o.o neće povrediti prava treće strane.
    Innovic d.o.o ni u kom slučaju nije obavezi da objavi ili koristi dostavljene informacije ili materijal.
    Prilikom korišćenja web sajta i bilo kojih informacija ili materijala koji se nalaze na istom, korisnik je u obavezi da postupa u skladu sa svim primenjivim propisima.
  </p>
  <h4 class="ui header">Mjerodavno pravo i nadležnost</h4>
  <p>
    Korišćenjem ovog sajta, saglasni ste da je za bilo kakvo pravno potraživanje ili utuženja vezano za ovaj web sajt ili njegovu upotrebu merodavno pravo Republike Bosne i Hercegovine, a nadležan stvarno nadležni sud u Sokocu.
  </p>
</div>
