{{> header}}
<style>
  body {
    padding-top: 100px;
  }
</style>
<div class="ui container">
  <div class="ui segments">
    <div class="ui segment">
      <div class="ui embed" data-url="{{placeMap}}" data-placeholder="" data-icon="right circle arrow">
    </div>
  </div>
</div>

{{> place }}