{{> header}}
<style>
  #map {
    height:100%;
  }
</style>
<script>
  const placeData = [
    {{#each placesData}}
      {{{json this}}},
    {{/each}}
  ];

  const placeTypesData = {
    {{#each city.categories}}
      {{@key}}: '{{this}}',
    {{/each}}
  };

  function initMap() {
    const cityLatLng = {lat: 43.8118946, lng: 18.5711013};

    const map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: cityLatLng,
    });

    let run = false;

    map.addListener('idle', function() {
      if (!run) {
        window.setTimeout(function() {
          initializeMarkers();
        }, 1000);

        run = true;
      }
    });

    var image = {
      url: placeData[0].icon,
      scaledSize: new google.maps.Size(32, 32),
    };

    function addMarkerWithTimeout(position, timeout) {
      window.setTimeout(function () {

        var marker = new google.maps.Marker({
          position: {
            lat: position.geometry.location.lat,
            lng: position.geometry.location.lng,
          },
          map: map,
          icon: image,
          animation: google.maps.Animation.DROP
        });

        var photoReference = `https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyDol6fmDmviEYTR-yIL6On7AiIcyelmsW8&maxwidth=300&maxheight=300`;

        var infowindow = new google.maps.InfoWindow({
          name: position.name.replace(/&(.*?);/g, ' '),
          image: (position.photos) ? `${photoReference}&photoreference=${position.photos[0].photo_reference}` : position.icon,
          address: position.vicinity,
          is_open: (position.hasOwnProperty('opening_hours')) ? position.opening_hours.open_now : null,
          rating: Math.round(position.rating)
        });

        marker.infowindow = infowindow;

        var temp = [];

        marker.addListener('click', function() {
          $('.ui.tiny.modal').modal('show');
          $('.modal-title').text(`Više detalja o mjestu ${this.infowindow.name}`);
          $('#modal-image').attr('src', this.infowindow.image);
          $('.modal-subtitle').text(this.infowindow.name);
          $('.description-address').text(this.infowindow.address);



          if (this.infowindow.is_open) {
            $('.description-is-open').removeClass('red');
            $('.description-is-open').addClass('green');
            $('.description-is-open').text('Otvoreno');
          }
          else {
            $('.description-is-open').removeClass('green');
            $('.description-is-open').addClass('red');
            $('.description-is-open').text('Zatvoreno');
          }

          $('.ui.star.rating')
            .rating({
              initialRating: this.infowindow.rating,
              maxRating: 5,
              interactive: false
            })
          ;

        });

      }, timeout);
    }

    function initializeMarkers() {
      for (let i = 0; i < placeData.length; i++) {
        addMarkerWithTimeout(placeData[i], i * 200);
      }
    }
  }
</script>
<div id="map"></div>
<div class="ui tiny modal">
  <i class="close icon"></i>
  <div class="modal-title header"></div>
  <div class="image content">
    <div class="ui medium image">
      <img id="modal-image" src="">
    </div>
    <div class="description">
      <div class="modal-subtitle ui header"></div>
      <div class="ui list">
        <div class="item">
          <i class="marker icon"></i>
          <div class="description-address content"></div>
        </div>
        <div class="item">
          <div class="content"><a class="description-is-open ui label"></a></div>
        </div>
        <div class="item">
          <div class="ui star rating" data-max-rating="5"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDol6fmDmviEYTR-yIL6On7AiIcyelmsW8&callback=initMap" async defer></script>
