<!doctype html>

<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='assets/css/semantic.css'>
</head>

<body>
{{> header}}

body: {{{body}}}

<hr/>
post body
<hr/>

</body>

</html>